@using DATN.DTOs
@model KhoVatTuRequest

@{
    ViewData["Title"] = "Thêm kho vật tư";
}
<hr />
<div class="row">
    <div class="col-sm-6">
        <h4>Thêm mới kho vật tư</h4>
        <form asp-action="ThemMoiKhoVatTu" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenKho" class="control-label">Tên kho vật tư</label>
                <input asp-for="TenKho" class="form-control" />
                <span asp-validation-for="TenKho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm mới" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="DanhSachSanKhoVatTu">Quay lại</a>
</div>
